
.contenedor-icono i{
    font-size:24px;
    margin: 5px;
}
.form-label{
   
}




.observaciones #Observacion5Id {
    height: 12rem;
    
}

.observaciones #Observacion1Id {
    height: 12rem;
   
}

.observaciones {
    display: flex;
    
}

.div-1 {
    
    width: 58rem;
    
    
}

.div-2 {
   
    width: 58rem;
    
    margin-left:3rem;
}
.div-3 {
   width: 58rem;
    
    margin-left:3rem;

}

.div-4 {
   
}

.h7{
    text-align:center;
}