

.dropdown:hover > .dropdown-menu, dropdown:hover > .dropdown-menu {
    display: block;
    margin-top: .125em;

  
}

.dropend:hover > .dropdown-menu {
    position: absolute;
    top: 0;
    left: 100%;
    margin-left: .125em;
   
}



@keyframes slideup {
    from {
    


        transform: translateY(20%);
    }



 
}

body {
    background-image: url('../img/fondoappiniciosid.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.dropdown.disabled:hover {
    display: none;

}



.dropdown-menu .dropdown-item:hover {
    background: linear-gradient(to bottom, #083557, #083557);
    color: white !important;
}



.dropend .nav-link:hover,
.dropend .nav-link:focus {
    background: linear-gradient(to bottom, #083557, #083557);
    color: white !important;
}




/*.navbar{
    
    padding:20px 0px;
}
*/
/*.nav-item dropend {
    animation: .5s slideup;
}
@keyframes slideup {
    from{
        transform: translateY(20%);
    }
}*/
.navbar-custom {
    background: radial-gradient(circle, #083557,#1C1C1C); /* Radial gradient */
    border-bottom: 2px solid #ffffff; /* White border */
}


.nav-tabs .nav-link {
    color: #ffffff; /* White text */
    border: none;
    background-color: transparent;
}

    .nav-tabs .nav-link.active {
        color: #ffffff; /* White text for active link */
        background-color: transparent;
        border: none;
        border-bottom: 3px solid #ffffff; /* White border */
    }

    .nav-tabs .nav-link:hover {
        color: #083557; /* Light text on hover */
    }

    .nav-tabs .nav-link:focus {
        color: #083557; /* Light text on focus */
        outline: none;
    }


