

.dropdown:hover > .dropdown-menu, dropdown:hover > .dropdown-menu {
    display: block;
    margin-top: .125em;
    
}

.dropend:hover > .dropdown-menu {
    position: absolute;
    top: 0;
    left: 100%;
    margin-left: .125em;
}



@keyframes slideup {
    from {
    


        transform: translateY(20%);
    }



 
}

body {
    background-image: url('https://i.ibb.co/QCKnsmd/fondonuevosid.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.dropdown.disabled:hover {
    display: none;
}



    /*.navbar{
    
    padding:20px 0px;
}
*/
    /*.nav-item dropend {
    animation: .5s slideup;
}
@keyframes slideup {
    from{
        transform: translateY(20%);
    }
}*/
