
/*Panel navegacion*/

.contenedor-icono {
    display: flex;
    gap: 1rem;
}

i {
    font-size: 1.4rem;
}


/*Panel superior*/
.objeto {
    margin: 1rem 2.5rem 1rem 1rem;
    padding: 1rem;
  
}

.superior {
    display: flex;
    justify-content: space-around;
    align-items:center;
    padding-bottom:1rem
}

.item {
    display: flex;
    flex-direction: column;
}

.item1 {
    display: flex;
    gap: 0.5rem;
}

.altura  {
        width: 5rem;
}

.ancho {
    width: 5rem;
}

.grupo {
    width: 20rem;
}

.criterio {
    width: 20rem;
}

/*Panel inferior*/
.inferior1 {
    display: flex;
    justify-content: space-around;
    padding-bottom: 1rem
}

.itemInf1{
    width:25rem;
    display:flex;
    justify-content:space-between
}

.itemInf2 {
    width: 15rem;
    display: flex;
    justify-content: center;
}

.dropdown:hover > .dropdown-menu, dropdown:hover > .dropdown-menu {
    display: block;
    margin-top: .125em;
}

.dropend:hover > .dropdown-menu {
    position: absolute;
    top: 0;
    left: 100%;
    margin-left: .125em;
}