.auto-width-column {
    width: auto;
    max-width: 200px; /* Puedes ajustar este valor según el ancho máximo deseado */
    white-space: nowrap; /* Esto asegura que el texto no se rompa en múltiples líneas */
    overflow: hidden; /* Oculta el contenido que desborda del ancho máximo */
    text-overflow: ellipsis; /* Muestra puntos suspensivos (...) cuando el texto se recorta */
    height: 1em;
}

.auto-width-column2 {
    width: auto;
    max-width: 600px; /* Puedes ajustar este valor según el ancho máximo deseado */
    white-space: nowrap; /* Esto asegura que el texto no se rompa en múltiples líneas */
    overflow: hidden; /* Oculta el contenido que desborda del ancho máximo */
    text-overflow: ellipsis; /* Muestra puntos suspensivos (...) cuando el texto se recorta */
}

/* Estilo para el encabezado del DataGrid */
.datagrid-header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #f2f2f2; /* Ajusta el color de fondo del encabezado según tus preferencias */
    white-space: nowrap; /* Esto asegura que el texto no se rompa en múltiples líneas */
}

.navbar-custom {
    background: radial-gradient(circle, #b5bbc1, #23273be6); /* Radial gradient */
    border-bottom: 2px solid #ffffff; /* White border */
}


.nav-tabs .nav-link {
    border: none !important;
    box-shadow: none;
    transition: all 0.3s ease;
}

    .nav-tabs .nav-link.active {
        color: white;
        border: none !important;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background-color: transparent;
    }


.fila-seleccionada {
    background: radial-gradient(circle, #afb5b9, #23273be6); /* Radial gradient */
    color: white !important;
}

.Tam {
    display: block;
    width: 100%;
    height: 100%;
}


.ColorAzulActivo {
    color: #0863a4;
}

