.selected-row {
    background: radial-gradient(circle, #083557, #1C1C1C); /* Radial gradient */
    color: white !important;
}


.selected-roww {
    background: radial-gradient(circle, #083557, #1C1C1C); /* Radial gradient */
    color: white !important;
}

.auto-width-column2 {
    width: auto;
    max-width: 800px; /* Puedes ajustar este valor según el ancho máximo deseado */
    white-space: nowrap; /* Esto asegura que el texto no se rompa en múltiples líneas */
    overflow: hidden; /* Oculta el contenido que desborda del ancho máximo */
    text-overflow: ellipsis; /* Muestra puntos suspensivos (...) cuando el texto se recorta */
}


.auto-width-column {
    width: auto;
    max-width: 200px; /* Puedes ajustar este valor según el ancho máximo deseado */
    white-space: nowrap; /* Esto asegura que el texto no se rompa en múltiples líneas */
    overflow: hidden; /* Oculta el contenido que desborda del ancho máximo */
    text-overflow: ellipsis; /* Muestra puntos suspensivos (...) cuando el texto se recorta */
}

.datagrid-header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #f2f2f2; /* Ajusta el color de fondo del encabezado según tus preferencias */
}

.grande {
    font-size: 18px;
}

.no-scroll {
    overflow: hidden;
}

.button-enabled {
    background-color: #fff; /* Color de fondo para botones habilitados */
    color: #212529; /* Color de texto para botones habilitados */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
}

/* Estilo para botones deshabilitados */
.button-disabled {
    background-color: #ededed; /* Color de fondo para botones deshabilitados */
    color: #888; /* Color de texto para botones deshabilitados */
    cursor: not-allowed; /* Cambia el cursor al estilo "no permitido" */
}

.linkButtonClicked {
    border-top: 2px solid #ccc; /* Borde en la parte superior */
    border-left: 2px solid #ccc; /* Borde en el lado izquierdo */
    border-bottom: none; /* Elimina el borde inferior */
    border-right: none; /* Elimina el borde derecho */
}

.linkButtonClicked2 {
    border-top: none; /* Borde en la parte superior */
    border-left: none; /* Borde en el lado izquierdo */
    border-bottom: 2px solid #ccc; /* Elimina el borde inferior */
    border-right: 2px solid #ccc; /* Elimina el borde derecho */
}

.AzulEfecto {
    background: repeating-linear-gradient(45deg, #151947, #2e4575 100px);
}

.RojoEfecto {
    background: repeating-linear-gradient(45deg, #953232, #752929 100px);
}

.VerdeEfecto {
    background: repeating-linear-gradient(45deg, #1f9160, #0e4623 100px)
}

.AzulOscuroEfecto {
    background: repeating-linear-gradient(45deg, #08090c, #1d2942 100px);
}