.auto-width-column {   
    max-width: 300px; /* Puedes ajustar este valor según el ancho máximo deseado */
    white-space: nowrap; /* Esto asegura que el texto no se rompa en múltiples líneas */
    overflow: hidden; /* Oculta el contenido que desborda del ancho máximo */
    text-overflow: ellipsis; /* Muestra puntos suspensivos (...) cuando el texto se recorta */
}

.datagrid-header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #F8F8F8F8; /* Ajusta el color de fondo del encabezado según tus preferencias */
}


.modal-content {
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.modal-header {
    border-bottom: none;
}

.modal-footer {
    border-top: none;
}

.modal-header .modal-title {
    font-weight: 600;
}

.modal-body {
    padding: 2rem;
}

/*Para oacultar el FileUpload*/
.hidden {
    display: none;
}

.fila-seleccionada {
    background: radial-gradient(circle, #75787b, #23273be6); /* Radial gradient */
    color: white !important;
}

.Tam {
    display: block;
    width: 100%;
    height: 100%;
}

.navbar-custom {
    background: radial-gradient(circle, #b5bbc1, #23273be6); /* Radial gradient */
    border-bottom: 2px solid #ffffff; /* White border */
}


.nav-tabs .nav-link {
    color: #ffffff; /* White text */
    border: none;
    background-color: transparent;
}

    .nav-tabs .nav-link.active {
        color: #ffffff; /* White text for active link */
        background-color: transparent;
        border: none;
        border-bottom: 3px solid #ffffff; /* White border */
    }

    .nav-tabs .nav-link:hover {
        color: #f8f9fa; /* Light text on hover */
    }

    .nav-tabs .nav-link:focus {
        color: #f8f9fa; /* Light text on focus */
        outline: none;
    }
