/* Estilo para botones habilitados */
.button-enabled {
    background-color: #fff; /* Color de fondo para botones habilitados */
    color: #212529; /* Color de texto para botones habilitados */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
}

/* Estilo para botones deshabilitados */
.button-disabled {
    background-color: #ededed; /* Color de fondo para botones deshabilitados */
    color: #888; /* Color de texto para botones deshabilitados */
    cursor: not-allowed; /* Cambia el cursor al estilo "no permitido" */
}

.auto-width-column {
    width: auto;
    max-width: 200px; /* Puedes ajustar este valor según el ancho máximo deseado */
    white-space: nowrap; /* Esto asegura que el texto no se rompa en múltiples líneas */
    overflow: hidden; /* Oculta el contenido que desborda del ancho máximo */
    text-overflow: ellipsis; /* Muestra puntos suspensivos (...) cuando el texto se recorta */
}
.datagrid-header-title {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #F8F8F8F8; /* Ajusta el color de fondo del encabezado según tus preferencias */
}

.datagrid-header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #a5a5a9; /* Ajusta el color de fondo del encabezado según tus preferencias */
    color: white;
}

.fila-seleccionada {
    background-color: black !important; /*Se Cambia el color de la fila Seleccionada  */
    color: white !important;
}