.auto-width-column {
    width: auto;
    max-width: 200px; /* Puedes ajustar este valor según el ancho máximo deseado */
    white-space: nowrap; /* Esto asegura que el texto no se rompa en múltiples líneas */
    overflow: hidden; /* Oculta el contenido que desborda del ancho máximo */
    text-overflow: ellipsis; /* Muestra puntos suspensivos (...) cuando el texto se recorta */
}

.datagrid-header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #f2f2f2; /* Ajusta el color de fondo del encabezado según tus preferencias */
}
