body {
}


.fila-seleccionada {
    background: radial-gradient(circle, #083557, #1C1C1C ); /* Radial gradient */
    color: white !important;
}

.Tam {
    display: block;
    width: 100%;
    height: 100%;
}