.destacado {
    color: black; /* Cambia el color del texto */
    font-weight: bold; /* Hace el texto más oscuro y sobresaliente */
    font-size: 28px; /* Puedes ajustar el tamaño de la fuente según tus necesidades */
    margin-bottom: 10px; /* Agrega margen inferior para destacar el control */
    font-family: 'Times New Roman'
}

.labelDestacado {
    font-size: 20px;
    color: black;
    font-weight: bold;
}


.grande-small {
    font-size: 10px;
}

.grande {
    font-size: 28px;
}

.masGrande {
    font-size: 50px;
}

.border {
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px;
}

.special-border {
    border: 2px solid red;
    border-radius: 6px;
    padding: 15px;
}

.datagrid-header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #f2f2f2; /* Ajusta el color de fondo del encabezado según tus preferencias */
}

.auto-width-column {
    width: auto;
    max-width: 200px; /* Puedes ajustar este valor según el ancho máximo deseado */
    white-space: nowrap; /* Esto asegura que el texto no se rompa en múltiples líneas */
    overflow: hidden; /* Oculta el contenido que desborda del ancho máximo */
    text-overflow: ellipsis; /* Muestra puntos suspensivos (...) cuando el texto se recorta */ 
}

/* Estilo personalizado para el modal */
/*#modal {
    text-align: left;*/ /* Alinea el contenido del modal a la izquierda */
/*}*/

/* Ajusta la posición del modal hacia la derecha */
/*.modal-dialog {
    margin: 0;
    position: absolute;
    left: 62%;*/ /* Ajusta la posición hacia la derecha */
    /*top: -160px;
}*/
/* Estilos de colores personalizados */
.bg-success-custom {
    background-color: #819cba;
}

.bg-white-custom {
    background-color: #c86868;
}

.bg-warning-custom {
    background-color: #efdd79;
}

.bg-danger-custom {
    background-color: #e9a270;
}

.bg-penAprCot-custom {
    background-color: #be94b9;
    
}

.bg-penCot-custom {
    background-color: #673f8b;
}
.bg-pausados-custom {
    background-color: #74bec6;
}

.bg-terminado-custom {
    background-color: #3d803f;
}
/* Ajusta estos estilos según tus necesidades */
/*.modal-sm {
    max-width: 50%;*/ /* Tamaño más pequeño */
/*}*/

.table-container {
    max-height: 300px; /* Altura máxima */
    overflow: auto; /* Habilita el scroll si el contenido excede la altura */
}

.table-wrapper {
    width: max-content; /* Ancho máximo para permitir el scroll horizontal */
}



.contenedor-icono {
    font-size: 24px;
    text-decoration-line:none;
}

.contenedor-icono2 {
    font-size: 34px;
   
}

/* Estilo para enlaces habilitados (color negro) */

.disabled {
    opacity: 0.6; /* Cambia la opacidad para indicar que el elemento está deshabilitado */
    pointer-events: none; /* Evita la interacción con el elemento deshabilitado */
    cursor: not-allowed; /* Cambia el cursor al icono "no permitido" */
}

/* Estilo para botones habilitados */
.button-enabled {
    background-color: #fff; /* Color de fondo para botones habilitados */
    color: #212529; /* Color de texto para botones habilitados */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
    border-bottom: 2px solid #ccc; /* Borde en la parte inferior */
    border-right: 2px solid #ccc; /* Borde en el lado derecho */
}

/* Estilo para botones deshabilitados */
.button-disabled {
    background-color: #ededed; /* Color de fondo para botones deshabilitados */
    color: #888; /* Color de texto para botones deshabilitados */
    cursor: not-allowed; /* Cambia el cursor al estilo "no permitido" */
    border-bottom: 2px solid #ccc; /* Borde en la parte inferior */
    border-right: 2px solid #ccc; /* Borde en el lado derecho */
}



.selected-row {
    background-color: black; /* Cambia el color de fondo a negro o el que desees */
    color: white;
}

.fila-seleccionada1 {
    /* background-color: #243451 !important;
    color: white !important;*/


    background: radial-gradient(circle, #94a8bc, #3e4559e6); /* Radial gradient */
   
}

.linkButtonNormal {
    /* Estilos normales del botón */
}


.linkButtonClicked {
    border-top: 2px solid #ccc; /* Borde en la parte superior */
    border-left: 2px solid #ccc; /* Borde en el lado izquierdo */
    border-bottom: none; /* Elimina el borde inferior */
    border-right: none; /* Elimina el borde derecho */
}

.linkButtonClicked2 {
    border-top: none; /* Borde en la parte superior */
    border-left: none; /* Borde en el lado izquierdo */
    border-bottom: 2px solid #ccc; /* Elimina el borde inferior */
    border-right: 2px solid #ccc; /* Elimina el borde derecho */
}

.ColorAzulActivo {
    color: #0863a4;
}

.ColorAzulActivo2 {
    background: linear-gradient(to right, rgba(0, 123, 255, 1), rgba(137, 207, 240, 0.5), rgba(0, 123, 255, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px; /* Aumentar el tamaño del icono */
}


.AzulClaro {
    color: #92afc4;
}

.GrisClaro {
    color: #9da2ad;
}

.RojoCancelar {
    color: #b94747
}

.auto-width-column2 {
    width: auto;
    max-width: 800px; /* Puedes ajustar este valor según el ancho máximo deseado */
    white-space: nowrap; /* Esto asegura que el texto no se rompa en múltiples líneas */
    overflow: hidden; /* Oculta el contenido que desborda del ancho máximo */
    text-overflow: ellipsis; /* Muestra puntos suspensivos (...) cuando el texto se recorta */
}
.full-width-btn{
    width: 90%;
}

.navbar-custom {
    background: radial-gradient(circle, #b5bbc1, #23273be6); /* Radial gradient */
    border-bottom: 2px solid #ffffff; /* White border */
}


.nav-tabs .nav-link {
    color: #ffffff; /* White text */
    border: none;
    background-color: transparent;
}

    .nav-tabs .nav-link.active {
        color: #ffffff; /* White text for active link */
        background-color: transparent;
        border: none;
        border-bottom: 3px solid #ffffff; /* White border */
    }

    .nav-tabs .nav-link:hover {
        color: #f8f9fa; /* Light text on hover */
    }

    .nav-tabs .nav-link:focus {
        color: #f8f9fa; /* Light text on focus */
        outline: none;
    }


@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    50% {
        transform: scale(1.2);
        opacity: 0.6;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.pulsar {
    animation: pulse 1s ease;
}

.loading-animation {
    display: none;
    text-align: center;
    margin-top: 10px;
}

.progress {
    height: 20px;
    background-color: #f3f3f3;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}
.fila-seleccionada2 {
    /* background: linear-gradient(to top right, #afb5b9, #23273be6); linear gradient */
    background-color: white !important;
    color: black !important;
}

.progress-bar {
    height: 100%;
    background-color: #3498db;
    width: 0;
    animation: pulseAnimation 2s infinite;
}

@keyframes pulseAnimation {
    0%, 100% {
        width: 0;
        opacity: 0.5;
    }

    50% {
        width: 100%;
        opacity: 1;
    }
}

.progress-message {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
}

.resizable-header {
    resize: horizontal;
    overflow: auto;
    white-space: nowrap ;
    min-width: 30px ; /* Ancho mínimo */
    max-width: 200px ; /* Ancho máximo */
    cursor: ew-resize ; /* Cursor de redimensionar */
    border: 1px solid transparent ; /* Evita la línea diagonal */
}

