/* Estilo personalizado para el rectángulo */
.border-rectangle {
    border: 1px solid #bab9b9; /* Color y grosor del borde */
    padding: 20px; /* Espacio interno dentro del rectángulo */
    border-radius: 10px; /* Radio de los bordes para hacerlo más suave (opcional) */
    height:20rem;
    
}

.navbar-custom {
    background: radial-gradient(circle, #083557,#1C1C1C ); /* Radial gradient */
    border-bottom: 2px solid #ffffff; /* White border */
}


.nav-tabs .nav-link {
    color: #ffffff; /* White text */
    border: none;
    background-color: transparent;
}

    .nav-tabs .nav-link.active {
        color: #ffffff; /* White text for active link */
        background-color: transparent;
        border: none;
        border-bottom: 3px solid #ffffff; /* White border */
    }

    .nav-tabs .nav-link:hover {
        color: #f8f9fa; /* Light text on hover */
    }

    .nav-tabs .nav-link:focus {
        color: #f8f9fa; /* Light text on focus */
        outline: none;
    }
