.icong {
    text-decoration: none; /* Quitar subrayado */
    color: inherit; /* Heredar el color del texto */
    cursor: pointer; /* Cambiar el cursor a una mano al pasar por encima */
}

    .icong:hover {
        color: inherit;
    }

.contenedor-icono i {
    font-size: 24px;
    margin: 5px;
}


/*Para deshabilitar o habilitar  los iconos*/

a.icong.disabled {
    pointer-events: none;
    color: black; /* Cambia el color a negro para enlaces deshabilitados */
    opacity: 0.5;
}

a.icong.enabled {
    pointer-events: auto;
    color: blue; /* Cambia el color a azul para enlaces habilitados */
}

  
