body {
}


.icong {
    text-decoration: none; /* Quitar subrayado */
    color: inherit; /* Heredar el color del texto */
    cursor: pointer; /* Cambiar el cursor a una mano al pasar por encima */
}

    .icong:hover {
        color: inherit;
    }

.contenedor-icono i {
    font-size: 1.2rem;
    margin: 0.4rem;
}


.icong1 {
    text-decoration: none; /* Quitar subrayado */
    color: inherit; /* Heredar el color del texto */
    cursor: pointer; /* Cambiar el cursor a una mano al pasar por encima */
    font-size: 24px;
}

    .icong1:hover {
        color: inherit;
    }


/*Para deshabilitar o habilitar  los iconos*/

a.icong1.disabled {
    background-color: #ededed; /* Color de fondo para botones deshabilitados */
    cursor: not-allowed; /* Cambia el cursor al estilo "no permitido" */
    border-bottom: 2px solid #ccc; /* Borde en la parte inferior */
    border-right: 2px solid #ccc; /* Borde en el lado derecho */
    padding: 0;
}

a.icong1.enabled {
    background-color: #fff; /* Color de fondo para botones habilitados */  
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
    border-bottom: 2px solid #ccc; /* Borde en la parte inferior */
    border-right: 2px solid #ccc; /* Borde en el lado derecho */
    padding: 0;
}



/*Para deshabilitar o habilitar  los iconos*/

a.icong.disabled {
    background-color: #ededed; /* Color de fondo para botones deshabilitados */  
    cursor: not-allowed; /* Cambia el cursor al estilo "no permitido" */
    border-bottom: 2px solid #ccc; /* Borde en la parte inferior */
    border-right: 2px solid #ccc; /* Borde en el lado derecho */
    padding: 0;
}

a.icong.enabled {
    background-color: #fff; /* Color de fondo para botones habilitados */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
    border-bottom: 2px solid #ccc; /* Borde en la parte inferior */
    border-right: 2px solid #ccc; /* Borde en el lado derecho */
    padding: 0;
}

.lbDesarrolloNumero {
    color: black; /* Cambia el color del texto */
    font-weight: bold; /* Hace el texto más oscuro y sobresaliente */
    font-size: 1.2rem; /* Puedes ajustar el tamaño de la fuente según tus necesidades */
    font-family: 'Times New Roman'
}

.Principal-centro {
    display: flex;
    justify-content:space-around;
}

.izq{
   align-content:center;
}

.PrecioSugerido {
    color: black; /* Cambia el color del texto */
    font-weight: bold; /* Hace el texto más oscuro y sobresaliente */
    font-size: 1.5rem !important; /* Puedes ajustar el tamaño de la fuente según tus necesidades */
    font-family: 'Times New Roman'
}


/* Estilo para el encabezado del DataGrid */
.datagrid-header {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #f2f2f2; /* Ajusta el color de fondo del encabezado según tus preferencias */
}

/* Para ocultar el checkbox guradar Render*/
.hidden-textBox {
    display: none;
}


.auto-width-column {
    width: auto;
    max-width: 200px; /* Puedes ajustar este valor según el ancho máximo deseado */
    white-space: nowrap; /* Esto asegura que el texto no se rompa en múltiples líneas */
    overflow: hidden; /* Oculta el contenido que desborda del ancho máximo */
    text-overflow: ellipsis; /* Muestra puntos suspensivos (...) cuando el texto se recorta */
    height:1em;
}


.fila-seleccionada {
    /* background: linear-gradient( to top right, #afb5b9, #23273be6); linear gradient */
    background: radial-gradient(circle, #75787b, #23273be6); /* Radial gradient */
    color: white !important;
}

.fila-seleccionada1 {
    /*  background: linear-gradient(to top right, #afb5b9, #23273be6); linear gradient */
    background: radial-gradient(circle, #75787b, #23273be6); /* Radial gradient */
    color: white !important;
}

.fila-seleccionada2 {
    /* background: linear-gradient(to top right, #afb5b9, #23273be6); linear gradient */
    background: radial-gradient(circle, #75787b, #23273be6); /* Radial gradient */
    color: black !important;
}

/*Control Tamaño botones de datagrid*/
.Tam {
    display: block;
    width: 100%;
    height: 100%;
}

.AzulActivo {
    color: #0863a4;
}

.AzulDesactivado {
    color: #bfdef5;
}

.RojoCancelar {
    color: #b94747
}

/* Dispositivos pequeños (teléfonos, menos de 768px) */
@media (max-width: 767.98px) {
    .Principal-centro{
        display:flex;
        flex-direction:column;
    }

    .Bajo1 {
        display: flex;
        flex-direction: column;
    }
}

.navbar-custom {
    background: radial-gradient(circle, #b5bbc1, #23273be6); /* Radial gradient */
    border-bottom: 2px solid #ffffff; /* White border */
}


.nav-tabs .nav-link {
    color: #ffffff; /* White text */
    border: none;
    background-color: transparent;
}

    .nav-tabs .nav-link.active {
        color: #ffffff; /* White text for active link */
        background-color: transparent;
        border: none;
        border-bottom: 3px solid #ffffff; /* White border */
    }

    .nav-tabs .nav-link:hover {
        color: #f8f9fa; /* Light text on hover */
    }

    .nav-tabs .nav-link:focus {
        color: #f8f9fa; /* Light text on focus */
        outline: none;
    }


