/* Estilo personalizado para el rectángulo */
.border-rectangle {
    border: 1px solid #bab9b9; /* Color y grosor del borde */
    padding: 20px; /* Espacio interno dentro del rectángulo */
    border-radius: 10px; /* Radio de los bordes para hacerlo más suave (opcional) */
    height:20rem;
    
}
